html {
    background: rgb(170, 115, 71);
    font-size: 2vh;
    color: cornsilk;
    text-align: center;
    box-sizing: border-box;
}

.button,
.button:link,
.button:visited {
    padding: 6px 16px;
    display: inline-block;
    margin: 1rem;
    font-size: 2vh;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
    color: white;
    border: 0px;
    background-color: #7d3f19;
}

.button:hover {
    transform: translateY(-0.1vh);
    box-shadow: 0 1vh 2vh rgb(127, 80, 46);
}

.button:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.2);
}

.display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 90vw;
    margin: 2rem auto;

}

.display-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    display: inline-block;
    justify-content: space-around;
    width: 26%;
    height: 40rem;
    margin: 2rem 5rem;
    background-color: #ffffff;
    color: black;
}

.display-img {
    height: 10vw;
    width: auto;
}

.display-name,
.display-ingr,
.display-instr {
    font-size: var(--h3);
}

.clear {
    padding: 6px 16px;
    display: inline-block;
    margin: 1rem;
    font-size: 2vh;
    border: none;
    background-color: #7d3f19;
    color: white;
}